

.services h1{
    margin: 50px 0px;
    text-align: center;
    font-size: 30px;
    color: aqua;
}

.services{
    padding: 100px;
}


.servicesContainer{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    object-fit: cover;
}

.serviceBox{
    width: 250px;
    overflow: hidden;
    background: #001328;
}

.serviceImg{
    width: 250px;
}

.serviceText h3{
    text-align: center;
    text-transform: capitalize;
    color: #04346c;
    font-weight: bold;
    margin-top: 20px;
}

.serviceBox{
    border-radius: 10px;
    border: 1px solid #021d3b;
    padding: 0px 0px 10px 0px;
}

.serviceText ul{
    margin-top: 10px;
    color: silver;
}

.serviceText h4{
    text-align: center;
    margin-top: 10px;
}

.serviceText ul li{
    list-style: circle;
    margin-top: 10px;
}

.boxFooter{
    width: 100%;
    height: 10px;
    /* background: yellow; */
}