.portfolioSection h1{
    text-align: center;
    font-size: 30px;
    color: orange;
}
.portfolioSection p{
    text-align: center;
    color: black;
    font-size: 18px;
}

.portfolioContainer{
    width: 80%;
    margin: 0px auto;
    display: grid;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.projectCardContainer{
    width: 80%;
    margin: 0 auto;
}


.cardImg{
    width: 200px;
    border-radius: 10px;
}

.card{
    margin: 50px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to right, orangered, orange);
}

.cardTextContainer{
    width: 400px;
}

.cardTextContainer h1{
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.cardTextContainer span{
    color: white;
}

.cardTextContainer button{
    margin-top: 10px;
}

.demoBtn{
    background: rgb(1, 76, 142);
    padding: 10px 20px;
}

.demoBtn a{
    color: white;
}


@media screen and (max-width: 800px){

    .card{
        width: 400px;
    }

    .portfolioContainer{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

}