
.moreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px 0px;
}

.moreAboutTextContainer{
    width: 700px;
    text-align: justify;
    padding: 10px;
}




@media screen and (max-width: 900px){

    /* .moreContainer{
        margin: 10px;
    } */

    .moreImg{
        width: 300px;
    }

    .moreAboutTextContainer{
        width: 400px;
        text-align: justify;
        /* padding: 10px; */
    }
}