
.frontpageContainer{
    min-height: 100vh;
}

.frontpageContainer p{
    width: 400px;
}

.frontImg{
    width: 350px;
}

.contactMeBtn button{
    outline: none;
    border: none;
    background: linear-gradient(to right, orangered, orange);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all .5s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactMeBtn button:hover{
    background: transparent;
    border: .3px solid #021d3b;
    color: black;
}

.frontTextContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frontTextContainer h1{
    font-size: 30px;
    color: black;
}

.frontTextContainer p{
    font-size: 18px;
    color: black;
}

.frontTextContainer h5{
    font-size: 20px;
    color: red;
}


@media screen and (max-width: 800px) {

    .frontpageContainer{
       padding: 20px 0px;
    }

    .frontTextContainer{
        text-align: center;
    }
}