
.portNameContainer h1{
    color: orangered;
}

.SocialIcons{
    position: absolute;
    left: 50px;
    top: 250px;
}

.SocialIcons ul{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fixNavContainer{
    position: fixed;
    z-index: 1126778218236;
}

.navContainer{
    padding: 15px 200px;
    width: 100vw;
}

.harmContainer{
    display: none;
}

.harmBtn{
    width: 30px;
    cursor: pointer;
    transition: all .3s linear;
}

.portNameContainer > h1{
    font-size: 18px;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(255, 251, 243);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.iconImg{
    width: 20px;
}

.navItems ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navItems ul li a{
    color: orangered;
}



.navSocialIcons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


@media screen and (max-width: 850px){
    .navItems{
        position: absolute;
        transform: translateX(-800px);
        transition: all .5s ease-in-out;
        background: rgb(255, 251, 243);
        min-width: 90vw;
        top: 60px;
    }

    .navItemsShow{
        position: absolute;
        transform: translateX(0px);
        transition: all .5s ease-in-out;
        background: rgb(255, 251, 243);
        min-width: 90vw;
        top: 60px;
        left: 0px;
        padding: 10px;
        border-radius: 0px 0px 20px 0px;
        
    }

    .navItems ul{
        display: grid;
        gap: 20px;
    }
    .navItemsShow ul{
        display: grid;
        gap: 20px;
    }

    .harmContainer{
        display: block;
    }

    .harmBtnRotate{
        transform: rotate(90deg);
        transition: all .3s linear;
        width: 30px;
        cursor: pointer;
    }
    .navItemsShow ul li{
        border-bottom: .2px solid orange;
        padding: 10px;
    }

    .navItems ul li{
        border-bottom: .2px solid orange;
        padding: 10px;
    }

    .navItemsShow ul li a{
        color: orangered;
    }

    .navContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 40px;
    }

    nav ul li a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
}